@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

/* Shared Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
}

.description {
  color: #727272;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
}

.btn {
  background: #ff900e;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
}

/* Header */

header {
  background: rgba(255, 144.05, 13.81, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

nav {
  max-width: 100%;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  margin: 0 auto;
}

nav ul {
  display: flex;
  gap: 40px;
}

ul li a {
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}

.header__content {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0px;
}

.header__content h1 {
  color: #131313;
  font-size: 64px;
  font-weight: 700;
}

.header__content .description {
  max-width: 868px;
  margin: 20px auto 30px auto;
}

.header__img {
  margin: 0 auto;
  margin-bottom: 50px;
}

.header__img img {
  max-width: 100%;
}

/* Features Area  */

.features {
  display: flex;
  max-width: 1440px;
  margin: 90px auto;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
  padding: 0 30px;
}

.feature__img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.feature__content {
  margin-right: 80px;
}

.feature__content .feature__title {
  color: #131313;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
  max-width: 360px;
}

.feature__content h2 .gray {
  color: #727272;
  font-weight: 500;
}
.feature__content h2 .color {
  color: #ff900e;
}

.feature__content .description {
  margin-bottom: 30px;
  max-width: 535px;
}

/* Feature Part */

.feature-part {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
}

.feature-part__content {
  max-width: 586px;
}

.heading-part {
  margin-top: 20px;
  margin-bottom: 60px;
}

.heading-part .title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  max-width: 390px;
}

.heading-part .description {
  max-width: 585px;
  margin-top: 24px;
}

.feature-card {
  padding: 30px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.feature-card__title {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-part__img img {
  max-width: 85%;
  margin-left: 100px;
  display: block;
}
.feature-part__img {
  position: relative;
}
.box {
  background-color: #ff900e;
  padding: 45px 40px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: 40px;
}

.box h2 {
  color: white;
  font-size: 55px;
  font-weight: 700;
  margin: 0px;
}

.box p {
  color: white;
  font-size: 22px;
  font-weight: 500;
}

/* Some Facts */
.fact-section {
  max-width: 1440px;
  margin: 130px auto;
  padding: 0 30px;
}
.Facts {
  margin-bottom: 100px;
}

.Facts .description {
  margin-top: 24px;
  max-width: 540px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: space-around;
}

.card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 45px 35px 60px 35px;
}
.card__count {
  color: #424242;
  font-size: 45px;
  font-family: Work Sans;
  font-weight: 600;
}

.card__title {
  color: #727272;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
}

/* Our Sponsors */
.our-sponsor {
  margin: 50px auto;
  padding: 0 30px;
  max-width: 1440px;
}

.sponsor {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sponsor .description {
  margin-top: 24px;
}

.sponsor-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor-img img {
  max-width: 100%;
}

/* Footer Area */
.footer {
  text-align: center;
  max-width: 1440px;
  padding: 0 30px;
  margin: 50px auto;
}
.footer__text {
  color: #424242;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff4e7;
  border-radius: 8px;
  padding: 40px 0;
}

/* Responsive Media Query */

/* ========= Mobile Devices =========== */

@media (max-width: 576px) {
  header {
    padding: 20px 16px;
  }
  nav {
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
  }

  .title {
    font-size: 35px;
  }
  .description {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    padding: 18px 22px;
  }
  nav ul {
    gap: 20px;
    margin-top: 16px;
  }
  .header__content {
    padding: 20px 0px;
  }
  .header__content h1 {
    font-size: 44px;
  }
  .header__img {
    margin-bottom: 0px;
  }
  /* Feature */
  .features {
    flex-direction: column-reverse;
    margin: 30px auto;
    padding: 0px 25px;
  }
  .feature__img {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .feature__img img {
    max-width: 100%;
  }
  .feature__content {
    margin-right: 0px;
  }

  /* Feature Part */
  .feature-part {
    flex-direction: column;
  }

  .feature-part__img img {
    margin-left: 0;
    max-width: 100%;
  }
  .box {
    max-width: 200px;
    padding: 20px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }
  .box h2 {
    font-size: 30px;
  }
  .box p {
    font-size: 20px;
  }

  /* Some Facts */
  .fact-section {
    margin: 50px auto;
    padding: 0 25px;
    margin-top: 80px;
  }
  .Facts {
    margin-bottom: 50px;
    width: 100%;
  }
  .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  /* Sponsors */
  .sponsor-img {
    flex-direction: column;
    gap: 30px;
  }
  /* Footer */
  .footer__text {
    font-size: 16px;
    padding: 40px 20px;
  }
}

/* ========= Tablet Devices =========== */

@media (min-width: 576px) and (max-width: 768px) {
  header {
    padding: 30px 25px;
  }
  nav {
    padding: 0px;
  }
  .header__content {
    padding: 30px 0px;
  }
  .header__content h1 {
    font-size: 50px;
  }
  .header__img {
    margin-bottom: 30px;
  }
  nav ul {
    gap: 30px;
  }
  .title {
    font-size: 40px;
  }

  /* Features */
  .features {
    flex-direction: column-reverse;
    margin: 30px auto;
  }
  .feature__content {
    margin: 0px;
    width: 700px;
  }
  .feature__content .feature__title {
    max-width: 356px;
  }
  /* Feature Part */
  .feature-part {
    flex-direction: column;
  }

  .feature-part__content {
    max-width: 100%;
  }
  .heading-part .title {
    max-width: 370px;
  }

  .feature-part__img img {
    margin-left: 0;
  }
  .box {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -80px;
  }

  /* Some Facts */
  .fact-section {
    margin: 60px auto;
    margin-top: 100px;
  }
  .Facts {
    margin-bottom: 60px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /* Sponsors Image */
  .sponsor-img {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
  }
}

/* Laptop Devices */

@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 0 30px;
  }

  .header__content {
    padding-top: 0px;
  }

  .features {
    padding: 0 30px;
    margin: 40px auto;
  }

  .feature__img img {
    max-width: 100%;
  }
  .feature__content {
    margin-right: 0;
  }
  /* Feature Part */
  .feature-part {
    flex-direction: column;
  }

  .feature-part__content {
    max-width: 100%;
  }
  .heading-part .title {
    max-width: 390px;
  }

  .feature-part__img img {
    margin-left: 0;
  }
  .feature-part__img {
    justify-content: center;
    display: flex;
  }
  .box {
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -80px;
  }
  /* Facts  */
  .Facts {
    margin-bottom: 60px;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
